html,
body {
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  background-color: #f1f1f1;
  scroll-behavior: smooth;
  /* background-image: url(./assets/bgscheme.png); */
}

header {
  display: flex;
  justify-content: center;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #2f3347;
}

:root {
  font-size: medium;
}

.header {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 100%;
}

.container {
  padding: 0px 1rem;
  margin: 3rem 0px;
}

.contacts {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 20vw;
}

.contacts_button {
  margin: 0px;
  padding: 0.7rem 0.7rem;

  font-family: 'Montserrat', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  font-display: block;

  max-height: 3rem;
  min-width: 14rem;

  border-radius: 0.5rem;
  border-width: 0;
  color: aliceblue;
  background-color: #4170fe;

  transition-duration: 300ms;
}

.contacts_button_a {
  min-width: fit-content;
}

.contacts_button:hover {
  background-color: aliceblue;
  color: #4170fe;
  cursor: pointer;
  transition-duration: 300ms;
}

.contacts_language {
  display: flex;
  color: #f1f1f1;
  text-decoration: none;
  justify-self: flex-end;
  align-self: center;

  margin-left: 1rem;
  justify-content: center;
  align-items: center;
  max-width: 2rem;
}

.contacts_language img {
  margin: auto;
  width: 100%;
}

.contacts_language:hover {
  color: #4170fe;
  text-decoration: none;
}

.contacts_text {
  text-decoration: none;
  margin: auto;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: 400;
  color: aliceblue;
  font-size: 1.2rem;
  width: fit-content;
  height: fit-content;
}

.contacts_text::hover {
  cursor: pointer;
}

main {
  margin: auto;
  overflow: hidden;
  background-image: url(./assets/bgscheme.png);
  background-position: 0%;
  background-repeat: no-repeat;
}

/* body::after {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  content: url(./assets/bgscheme.png);
  opacity: 0.4;
} */

.info__container {
  height: calc(100vh - 9.8rem);
  display: flex;
  align-items: center;
}

.info__wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  margin: auto;
  justify-content: space-between;
  max-width: 1200px;
}

.info__text {
  max-width: 55%;
}
.info__text h1,
h2 {
  color: #4170fe;
  font-size: 2.5rem;
}

.info__text p {
  color: #2f3347;
  font-size: 1.3rem;
}

.info__image {
  margin-left: 3rem;
  user-select: none;
}
.info__image img {
  border-radius: 1.5rem;

  width: 100%;
}

.cards__container {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #2f3347;
}

.cards__card {
  /* width: 13rem; */
  /* height: 10rem; */

  overflow: hidden;

  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 3%;
  padding-right: 3%;

  border-radius: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  flex: 0 0 25%;

  z-index: 0;

  /* box-shadow: 2px 3px 0px #2f3347; */
  background-color: #f1f0f0;
  background-size: contain;
}

.card1 {
  background-image: url(./assets/1.svg);
}

.card2 {
  background-image: url(./assets/2.svg);
}

.card3 {
  background-image: url(./assets/3.svg);
}

.card4 {
  background-image: url(./assets/4.svg);
}
.card5 {
  background-image: url(./assets/5.svg);
}
.card6 {
  background-image: url(./assets/6.svg);
}

.cards__card__text {
  margin: auto;
  z-index: 2;
}

.cards__card__text p {
  text-align: center;
  word-wrap: normal;
  z-index: 2;

  text-transform: uppercase;
  font-weight: 600;
  color: #2f3347;
}

.secondBlock_card_span {
  margin: 0px;
  width: 100%;
  border-radius: 0.5rem;
}

.cards__row {
  display: flex;

  width: 100%;

  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1 0 25%;
  row-gap: 3rem;
  column-gap: 1rem;
  /* justify-content: space-between; */
}

.cards__column {
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
  margin: auto;
  max-width: 1200px;
}

.big {
  flex: 1 0 60%;
  flex-direction: row;
}

.big__text {
  font-size: 120%;
  margin-left: 3rem;
}

.big__text h3 {
  font-weight: 500;
  margin: 0px;
}

.big__text ul {
  margin-top: 1%;
}

.cards__card__icon {
  max-width: 7rem;
  z-index: 2;
}

.cards__card__icon svg {
  width: 100%;
  color: #4170fe;
  z-index: 2;
}

.thirdBlock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 3rem;

  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
}

.thirdBlock_card {
  display: flex;

  justify-content: space-between;
  gap: 5%;
  flex-direction: row;

  align-items: center;
}

.reverseCard {
  flex-direction: row-reverse;
}

.thirdBlock_card_p {
  height: fit-content;
  color: #2f3347;
  font-size: 1.3rem;
}

.thirdBlock_card_img {
  min-width: 40%;
  border-radius: 1.5rem;
}

.thirdBlock_card_img img {
  width: 100%;
}
.footer {
  margin-bottom: 0px;
  margin-top: 0px;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #2f3347;
}

.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: auto;
  max-width: 1200px;
}

.footer_mapandcontacts {
  display: flex;
  flex-direction: row;
}

.footer_contacts > p {
  margin-top: 0px;
  color: #f1f1f1;
  font-weight: 500;
}

.footer_map {
  overflow: hidden;
  border-radius: 1.5rem;
}

.footer_logo {
  margin-bottom: 1rem;
}

.btnpad {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.dropbtn {
  display: flex;
  align-items: center;
  justify-content: end;
  cursor: pointer;
  color: #f1f0f0;
  border-radius: 1rem 1rem 0rem 0rem;
  width: 8rem;
}

.brdr {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;

  border: solid 0.2rem #2f334700;
}

.dropbtn img {
  width: 2rem;
  margin-left: 1rem;
}

.contacts_languagee {
  display: flex;
  margin-top: auto;
  margin-bottom: auto;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2f3347;
  /* box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); */
  z-index: 1;
  border: solid 0.2rem #2f334700;
  border-radius: 0rem 0rem 1rem 1rem;

  right: 0;
  width: 8rem;
}

.dropdown-content a {
  color: black;
  text-decoration: none;
  display: block;

  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropdown-content {
  /* color: #2f3347; */
  /* background-color: #f1f1f1; */

  border-color: #f1f1f1;
  border-top: #2f334700;
}
.dropdown:hover .dropbtn {
  /* color: #2f3347; */
  /* background-color: #f1f1f1; */

  border-color: #f1f1f1;
  border-bottom: #2f334700;
}
/* 1080

*/

.drpdwn_container {
  position: absolute;
  display: inline-block;
  right: 1rem;
  top: 0.2rem;
  height: 100%;
}

.cards_divider {
  display: flex;
  align-items: center;
  width: 100%;
}

.cards_divider h2 {
  min-width: fit-content;
  text-align: center;
  color: #f1f0f0;
  font-size: 2rem;
  word-break: keep-all;
  margin: 0px;
  margin-left: 1rem;
  margin-right: 1rem;
}

.cards_divider div {
  width: 100%;
  height: 0.25rem;
  background-color: #4170fe;
}

.corpus_divider {
  display: none;
}

@media all and (max-width: 1540px) {
  .drpdwn_container {
    position: relative;
    right: 0rem;
    top: 0rem;
    width: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
  }
  .dropbtn span {
    display: none;
  }
  .dropbtn {
    width: fit-content;
  }
  .dropdown-content {
    width: fit-content;
  }

  .dropbtn img {
    margin-left: 0rem;
  }
}

.corpus__wrapper {
  margin-top: 0px;
  margin-bottom: 0px;
}

.image_margin_right {
  margin-left: 0px;
  margin-right: 3rem;
}

.corpus_container {
  height: fit-content;
  padding-top: 0px;
  padding-bottom: 0px;

  display: flex;
  flex-direction: column;

  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media all and (max-width: 1080px) {
  :root {
    font-size: small;
  }
}

@media all and (max-width: 875px) {
  .cards__card {
    flex: 0 0 40%;
  }
  .big__icon {
    display: none;
  }

  .corpus_divider {
    display: inline;
  }

  /* .contacts_button {
    font-size: smaller;
  } */
  .info__wrapper {
    flex-direction: column;
    align-items: center;
  }

  .info__text {
    max-width: 100%;
  }

  .info__image {
    margin: auto;
  }
}

@media all and (max-width: 740px) {
  .logo {
    display: none;
  }

  .drpdwn_container {
    margin-left: 0rem;
  }
  .dropdown-content {
    left: 0;
  }
  header {
    flex-direction: row-reverse;
  }
  .header {
    justify-content: flex-end;
  }

  .contacts_language {
    margin: 0px;
    margin-right: 1rem;
  }
}

@media all and (max-width: 570px) {
  /* :root {
     font-size: x-small; 
  } */

  .footer_map {
    margin-top: 2rem;
  }
  .footer_wrapper {
    flex-direction: column;
  }

  .thirdBlock_card {
    flex-direction: column;
  }

  .cards__row {
    justify-content: center;
  }
  .cards__card {
    flex: 0 0 70%;
  }
}
